.music {
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.musicItem {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 0;
}

.musicItem:first-child {
  border-radius: 2px 2px 0 0;
}

.playMusic, .stopMusic {
  width: 25px;
  height: 25px;
  margin: 0 7px 0 0;
}

.playMusic:hover, .stopMusic:hover {
  cursor: pointer;
}