.appContentBlock {
	margin-top: 15px;
	margin-bottom: 15px;
}

.appContentSend {
	display: flex;
	background-color: white;
	padding: 10px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 2px;
}

.appContentLetterInput {
	padding: 10px 0 20px 5px;
	width: 600px;
	border: none;
	width: 99.6%;
}


.appContentLetterSend {
	border: 0px solid #c1c5d6;
	color: #6c757d;
	width: 40px;
	background-color: white;
}

.appContentPosts {
	padding: 15px 0 0 0;
}

.appContentPostsTitle {
	font-weight: bold;
	color: black;
	padding: 4px 10px 12px 10px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	border-radius: 2px 2px 0 0;
}

@media (max-width: 767px) {
  .appContentPosts {
		padding: 0;
		margin-top: 1px;
		border-radius: 0;
	}

	.appContentSend {
		border-radius: 0;
	}

	.appContentBlock {
		margin-top: 0;
	}
}