.profileDisplay {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 30px 0 0;
}

.profileUpdate {
	margin: 10px 0 10px 0;
}

.appContent {
	grid-area: contentText;
	margin: 0 0 5px 0;
}

.appContentAvatarAndDescription {
	display: flex;
	padding: 15px;
	align-items: flex-start;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	border-radius: 2px;
}

.profileAvatar {
	width: 300px;
	border-radius: 2px;
}

.name {
	font-size: 21px;
}

.profileUserData {
	width: -webkit-fill-available;
}

@media (max-width: 767px) {
	.profileAvatar {
		max-width: 175px;
	}
	.appContentAvatarAndDescription {
		flex-direction: column;
	}
	.profileDisplay {
		margin: auto;
	}

	.appContent {
		margin: 0;
	}
}


