.appLogin {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.appLoginBlock {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.appLoginLog {
  margin-bottom: 10px;
  width: 270px;
  font-size: 14px;
  padding: 6px 12px 8px;
  box-sizing: border-box;
  height: 35px;
  border-radius: 3px;
  border: none;
  background-color: rgb(232, 240, 253);
}

.appLoginPassword {
  margin-bottom: 5px;
  width: 270px;
  font-size: 14px;
  padding: 6px 12px 8px;
  box-sizing: border-box;
  height: 35px;
  border-radius: 3px;
  border: none;
  background-color: rgb(232, 240, 253);
}

.appLoginCheckbox {
  margin-bottom: 9px;
}

.appLoginBlock button {
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  padding: 7px 16px 8px;
  margin: 0;
  border: none;
}

.appLoginError {
  color: rgb(255, 102, 106);
  font-size: 13px;
  text-align: center;
}

@media (max-width: 767px) {
  .appLogin {
    border-radius: 0;
  }
}