.appWrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 48px 1fr;
  grid-template-columns: 2.4fr 9.6fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header"
  "nav contentText contentText";
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 99.5%;
}

.appReference {
  grid-area: contentText;
  margin: 0 0 5px 0;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: rgb(250, 250, 250);
  position: relative;
}

@media (max-width: 767px) {
  .appWrapper {
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "contentText contentText contentText";
    grid-template-rows: 61px 39px;
  }
}